table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
}

thead th {
    background-color: aqua;
}

tbody tr:nth-child(even) {
    color: rgb(255, 0, 0);
    background-color: rgb(30, 255, 0);
}