nav {
    display: flex;
    background-color: gray;  
    justify-content: center;  
}

nav ul {
    padding: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 2vh 0 0;
}

a {
    color: white;
    text-decoration: none;
    padding: 1vh 1vh 1vh 1vh;
}

a:hover {
    color: black;
}